.container{
  margin: auto;
  width: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
color: #fff;
}
body {
min-height: 100vh;
background-size: cover;
background-position: center;
background-color: #303030;
}
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
background: rgba(19, 19, 19, 0.1);
display: flex;
justify-content: space-between;
align-items: center;
backdrop-filter: blur(40px);
border-bottom: 2px solid rgba(255, 255, 255, 0.2);
z-index: 100;

}
.header::before {
content: "";
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(
  90deg,
  transparent,
  rgba(255, 255, 255, 0.4),
  transparent
);
transition: 0.5s;
}
.header:hover::before {
left: 100%;
}

.logo{
width: 60px;
}

.navbar a {
color: #fff;
font-size: 18px;
text-decoration: none;
margin-left: 35px;
transition: 0.3s;
}
.navbar a:hover {
color: #f00;
}
#menu-icon {
font-size: 36px;
color: #fff;
display: none;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
.header {
  padding: 1.25rem 4%;
}
}
@media (max-width: 768px) {
#menu-icon {
  display: block;
}
.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5rem 4%;
  display: none;
}
.navbar.active {
  display: block;
}
.navbar a {
  display: block;
  margin: 1.5rem 0;
}
.nav-bg {
  position: absolute;
  top: 79px;
  left: 0;
  width: 100%;
  height: 295px;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 99;
  display: none;
}
.nav-bg.active {
  display: block;
}
}
.cart img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.content {
  padding: 20px;
  text-align: center;
}
.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* fin navbar */
.carousel-item img {
  max-width: 100%; 
  height: auto;
}

/* footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.contenedor{
max-width: 1170px;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: #131313;
  padding: 70px 0;
}
.footer-col{
 width: 25%;
 padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #ff0000;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #ffffff;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}

.textop{
  color: #ffffff;
}


.texto{
  text-align: center;
  margin-top: 60px;
  color: #ffffff;
}


/* fin footer */

/* carrusel */
#carouselExampleIndicators {
  max-width: 900px; 
  margin: 0 auto; 
}
.carousel-item img {
  max-height: 1000px;
  object-fit: cover; 
}

.register-slide{
  margin-top: 50px;
}
.slide .imgslide{
  max-height: 60vh;
  height: auto;
}


.slide{
  margin-top: 15px; 
}


.contenido-register{
  margin-top: 100px;

}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #cecece;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* fin carrusel */

.productos {
  display: flex;
  flex-wrap: wrap;

}
.contenedor_productos img {
  width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
}

@keyframes animacion_producto_desktop {
  0% {
      transform: rotate(-20deg);
      opacity: 0;
  }

  100% {
      transform: rotate(0);
      opacity: 1;
  }
}


.productos .producto {
  width: 25%;
  margin-top: 15px;
  animation: animacion_producto_desktop 0.5s;
}

.productos .producto img {
  width: 80%;
  height: 200px;
  object-fit: cover;
}

.productos .producto .contenedor_producto {
  background-color: white;
  width: 80%;
  margin:auto;
}

.productos .producto .detalles {
  padding: 5px;
}
.contenedor_producto{
  display: flex;
}



