{% extends 'base.html'%}
{% block contenido %}
{% load static %}

    <h2>Productos</h2>
    
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
        }

        .card {
            width: calc(33.33% - 20px); /* El 20px es el margen entre las tarjetas */
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            text-align: center;
        }

        .card img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Lista de Productos</h1>
    <div class="container">
        {% for producto in productos %}
        <div class="card">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            <h2>{{ producto.nombre }}</h2>
            <p>Precio: ${{ producto.precio }}</p>
            <p>Descripción: {{ producto.descripcion }}</p>
            <p>Marca: {{ producto.marca }}</p>
            <form action="{% url 'carrito' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="producto_id" value="{{ producto.idProducto }}">
                <button type="submit">Agregar al carrito</button>
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>


<script src="{% static 'js/java.js' %}"></script>

{% endblock %}